.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 1rem 0;
  font-size: 18px;
}

.oops {
  font-size: 4rem;
  line-height: 4rem;
  opacity: 0.2;
}

.title {
  margin: 4rem 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}
