:root {
  --nav-item-padding: 0.5rem;
}

.header {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 0.25rem;
}

.navPart1,
.navPart2 {
  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  align-items: center;
  padding: 0 var(--nav-item-padding);
  min-height: 3rem;
}

.logo {
  composes: link;
  font-size: 1.333em;
  font-family: Baloo, sans-serif;
  text-transform: uppercase;
}

.linkActive,
.linkActive:hover,
.logo,
.logo:hover {
  color: inherit;
}
