/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/* Variables */
:root {
  --gray-hue: 210;
  --gray-darker: hsl(var(--gray-hue), 20%, 35%);
  --gray-dark: hsl(var(--gray-hue), 17%, 55%);
  --gray: hsl(var(--gray-hue), 20%, 65%);
  --gray-light: hsl(var(--gray-hue), 25%, 85%);
  --gray-lighter: hsl(var(--gray-hue), 40%, 92.5%);
}

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: var(--gray-lighter);
  color: var(--gray-darker);
  overflow-y: scroll;
}

body {
  font-size: 1rem;
  line-height: 1.5;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: Rubik, sans-serif;
}

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Baloo;
  font-weight: normal;
  margin-bottom: 0;
}

p,
ul,
ol {
  margin-top: 0.5em;
}

.phenomic-HeadingAnchor {
  display: none;
}

/* minimal styling, prefer removing this and use local styles */
a {
  color: var(--gray);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--gray-dark);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1em auto;
}

img.small {
  max-width: 70%;
}

.round {
  border-radius: 999px;
}

.oval {
  border-radius: 50%;
}

@media (min-width: 720px) {
  .right {
    float: right;
    margin-left: 2em;
  }

  .left {
    float: left;
    margin-right: 2em;
  }

  .right,
  .left {
    max-width: 50%;
  }

  .small.right,
  .small.left {
    max-width: 40%;
  }
}

.at::before {
  content: "@";
}

.at span {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}
